{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href= "{% static 'nwc/css/bootstrap.css' %}"
/>

<html>
<head>
    <title>Track Hours</title>
</head>
<body>
<img src="{% static 'img/Logo.jpg' %}" class="img-fluid" alt="...">
<form method="POST" enctype="multipart/form-data" novalidate>

<!-- Security token -->
{% csrf_token %}


    {{ form.name | as_crispy_field }}
    {{ form.hours_work | as_crispy_field }}
    {{ form.type_work | as_crispy_field }}
    {{ form.service_work | as_crispy_field }}
    {{ form.describe | as_crispy_field }}

<input type="submit" value="Save">
</form>
</body>
</html>